.footer-description {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 30px;
}

.footer-description p {
    position: relative;
    width: 14em;
    height: 20px;
    z-index: 10;
    padding-left: 10px;
}

.footer-description p::before {
    content: "";
    background-color: #D2DA3A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    filter: blur(8px);
    opacity: .8;
}

.footer-description a {
    color: #3d5544;
}