.products-list {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    gap: 14px;
    padding: 30px 0;
}


@media screen and (max-width: 750px) {
    .products-list {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 175px);
    }
}